
<div class="banner">
  <h1> Les Cocktails </h1>
</div>
<div class="cocktail-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-6 offset-md-6" style="text-align: center; display: flex;">
        <div class="card">
          <h2><%= cocktail.name %></h2>
          <ol>
            <% cocktail.doses.each do |dose| %>
              <li><%= "#{dose.description} #{dose.ingredient.name}" %></li>
            <% end %>
          </ol>
          <p><%= link_to 'details', cocktail_path(cocktail), method: :get%></p>
          <p>
            <%= link_to cocktail_path(cocktail), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
