
<div class="banner-new">
  <h1>New cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, wrapper_html: { class: 'banner-description' } %>
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
  <h1 style="color: white !important;"><%= link_to cocktails_path, method: :get do %>
    <i class="fas fa-hand-point-left"></i>
    <% end %>
  </h1>
</div>
