<h1>Please add description: </h1>
<div class="col-md-3 offset-md-3">
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description, label: 'description' %>
  <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name, label: 'ingredient') %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
</div>
