<div class="banner-new-ingredient">
  <h1>Please add description: </h1>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <h2><%= f.input :description, wrapper_html: { class: 'banner-description' } %></h2>
    <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name, label: 'ingredient') %>
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>
